[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-binance = "*"
web3 = "*"
beeprint = "*"

[dev-packages]

[requires]
python_version = "3.9"
